bundle-10.tar.gz filter=lfs diff=lfs merge=lfs -text
bundle-100.tar.gz filter=lfs diff=lfs merge=lfs -text
bundle-200.tar.gz filter=lfs diff=lfs merge=lfs -text
bundle-400.tar.gz filter=lfs diff=lfs merge=lfs -text
bundle-50.tar.gz filter=lfs diff=lfs merge=lfs -text
